<mat-form-field>
  <!-- <mat-label>Title:</mat-label> -->
  <input placeholder="Title" type="text" matInput cdkFocusInitial [(ngModel)]="data.task.title" />
</mat-form-field>
<mat-form-field>
  <!-- <mat-label>description:</mat-label> -->
  <textarea placeholder="Description" matInput [(ngModel)]="data.task.description"></textarea>
</mat-form-field>
<div class="" mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    class="primary"
    *ngIf="data.enableDelete"
    mat-fab
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.task, delete: true }"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
